<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <servlet-class>controller.CustomerProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerProfileServlet</servlet-name>
        <url-pattern>/CustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FoodManagementServlet</servlet-name>
        <servlet-class>controller.FoodManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodManagementServlet</servlet-name>
        <url-pattern>/food-management</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
