/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 29, 2025, 10:11:32 PM
    Author     : ddhoang
*/

a {
    text-decoration: none;
    color: inherit; /* giữ màu chữ như mặc định */
}
a .google-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
a .google-btn:hover {
    background-color: #f2f2f2;
}

a .google-btn img {
    width: 20px;
    height: 20px;
}
a .google-btn span {
    font-weight: 500;
}